// color
$color-black: #1a1a1a;
$color-white: #d6d6d6;
$color-all-bg: #969696;

$text-color: #262626;
$text-visited: #3e3e3e;

$color-wrapper-bg: #FFFFFF;
$color-header: #002d86;

$color-bg-blu: #409EFF;
$color-bg-blu-light: #b0d4ff;
$color-font-blu: #FFFFFF;

$padding-main-block: 10px;

$block-margin-tb: 5px;

$color-font-white: #E3E3E3;

$max-width-site: 1870px;
$min-width-site: 1220px;
$mobil-size: 500px;







