@font-face {
    font-family: 'New York Medium Regular';
    src: url(assets/fonts/NewYork/Medium/NewYorkMedium-Regular.woff2) format("woff2"),
    url(assets/fonts/NewYork/Medium/NewYorkMedium-Regular.woff) format("woff");
    font-display: swap;
}
