html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;

    overflow-x: hidden;

    font: 16px sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $color-black;
    background-color: $color-all-bg;
}



h1, h2, h3, h4, h5, h6 {
    font: 100% sans-serif;
    margin: 0;
    font-weight: bold;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: $max-width-site;
    min-height: 100vh;
    background-color: $color-wrapper-bg;
    border-radius: 5px;
    position: relative;

}

main {
    width: 100%;
    margin: 0 auto;
    max-width: $min-width-site;
}

.section-item {
    margin-top:20px;
}


.block-search {
    width: 100%;
    max-width: $min-width-site;
    margin: 0 auto;
    margin-top: -50px;

}
.block-search .block-search-form {
    background-color: #FFFFFF;
}

.block-right {
    width: 250px;
    padding: $padding-main-block;
}

.block-header {
    width: 100%;
    background-color: $color-header;
    padding: $padding-main-block;
    color: $color-font-white;
    display: flex;
    justify-content: space-between;
}


.block-main {
    height: 100%;
    padding: $padding-main-block;
}

.block-footer {
    width: 100%;
    padding: $padding-main-block;
}


