

.index-head-bg {
    width: 100%;
    background: url("../assets/image/head_index.jpg") center;
    background-size: cover;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;

    &__text {
        max-width: $min-width-site;
        margin: 20px auto;
        color: #FFFFFF;
        padding-left: 20px;
        text-shadow: 1px 0 5px #777;

        h1 {
            color: #FFFFFF;
            font-size: 20px;
            margin-bottom: 20px;
        }

    }


}


