.block-search-form {
    padding: 10px;
    border: 1px solid $color-header;
    border-radius: 5px;
    margin: $block-margin-tb;
}
.block-search-form h1 {
    margin: 10px 0;
    color: $color-header;
}
