.block-search-form {
    padding: 10px;
    box-shadow: 0 4px 16px rgba(75, 106, 166, 0.16);
    border-radius: 6px;
    margin: $block-margin-tb;
}
.block-search-form h1 {
    margin: 10px 0;
    color: $color-header;
}
